.left-col,
.right-col {
  width: 47%;
  height: 100%;
  margin: 0 1% 0 1%;
  line-height: 22px;
  font-family: "freight-sans";
}

.left-col p {
  font-family: "freight-sans";
  font-size: 11.5pt;
}

.right-col p {
  font-family: "freight-sans";
}
.mobileAbout {
  width: 100%;
  background-color: #191919;
  text-align: left;
  padding: 7.5%;
  padding-top: 70px;
  line-height: 1.4em;
  font-size: 1.1em;
}
.mobileAboutTitle {
  font-weight: bold;
  font-style: italic;
  font-size: 1.7em;
  line-height: 18pt;
  margin: 0;
  font-family: "freight-text-black";
}

#submitBtn:hover {
  background-color: #66cef5;
}
button#submitBtn:hover {
  color: black !important;
}
#submitBtn {
  width: 40%;
  padding: 6px;
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
  resize: vertical;
  float: right;
  cursor: pointer;
  background-color: #191919;
  border-color: #66cef5;
  color: white;
}
