.home{
    width:100%;
    height:100%;
}
.main{
    margin-top: 40px;
    width: 85%;
    /* background-color: #0A0A0A; */
}

.feature{
    width:47%;
    height:100%;
    margin: 0 1% 0 1%;
    /* background-color: #111; */
}

.normal{
    width:47%;
    margin: 0 1% 0 1%;
    /* background-color: #111; */
}
.iconType{
    width:27px;
    height:27px;
    background-size: cover;
    position:relative;
}
.profileIcon{
    background-image: url('../resources/icons_profile.png');
}
.audioIcon{
    background-image: url('../resources/icons_audio.png');
}
.videoIcon{
    background-image: url('../resources/icons_video.png');
}
.regularIcon{
    background-image: url('../resources/icons_type.png');
}
