.card{
    width:100%;
    margin-bottom:15px;
    background-color: #191919;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
}

.title{
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  line-height: 18pt;
  margin: 0;
  font-family: 'freight-text-black';
}

.card p{
  font-size: 11pt;
  font-family: 'freight-text-book';
}
