.button{
  background-color: #b3e7fa;
  color: black;
  text-align: center;
  padding: 6px;
  margin-right: 16px;
  margin-top: 4px;
  border-radius: 8px;
  cursor: pointer;
  font-family: freight-sans;
  border: none;
}

#other{
  margin-right:0px;
}

#submitBtn{
  width: 40%;
  padding: 6px;
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
  resize: vertical;
  float: right;
  cursor: pointer;
  background-color: #191919;
  border-color: #66cef5;
  color: white;
}

.button-list{
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
  flex-flow: wrap;
}

.button-list:after{
  content: "";
  clear: both;
  display: table;
}
