.normal{
    width:22%;
    margin: 0 1% 0 1%;
    font-family: 'freight-sans';
    /* background-color: #111; */
}

#article-title{
  font-weight: bold;
  font-style: italic;
  font-size: 18pt;
  line-height: 22pt;
  margin: 0;
  font-family: 'freight-text-black';

}

.primary{
  width:72%;
  height: fit-content;
  overflow: scroll;
  margin: 0 1% 0 1%;
  text-align: left;
}

.primary p {
  font-family: 'freight-text-book';
  font-size: 12pt !important;
  line-height: 1.5;
}

.card{
  height: fit-content;
}

.normal h4{
  margin: 0;
}

#facts-card h4{
  font-size:16pt;
}

#facts-card h5{
  font-size:12pt;
  padding-top: 10pt;
  padding-bottom: 0;
  margin:  5px 0px 5px 0px;
}

#facts-card hr{
  background-color:var(--blue);
  height: 1px;
  border: 0;
}

#facts-card{
  margin-bottom: 20px;

}

#date{
  font-size: 12pt;
}



#info p{
  padding-bottom:0;
  padding-top: 0;
  margin-bottom:0;
  margin-top: 0;
  font-size: 11pt;
}
#author{
    font-size: 12pt !important;
}

#byline{
  font-style: italic;
}

.button-article{
  background-color: #b3e7fa;
  color: black;
  text-align: center;
  padding: 6px;
  margin: 10px 8px 0px 8px;
  border-radius: 8px;
  width: 42%;
  cursor: pointer;
  font-size:10pt;
  font-family: 'freight-sans';
  border: none;
}
