.aboutCard{
    width:100%;
    margin-bottom:15px;
    background-color: #191919;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
}

.title{
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  line-height: 18pt;
  margin: 0;
  font-family: 'freight-text-black';
}

#apply_selections{
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding: 7px 0px;
}

#response1, #response2{
  width: 100%;
  resize: vertical;
  background-color: #333333;
  color: white;
  border: none;
  height: 100px;
}

#apply_selections button{
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color: #66cef5;
  cursor: pointer;
  font-family: 'freight-sans';
  border: none;
}

#contact-card{
    padding: 30px 30px 60px;
}
.input{
    margin-top: 10px;
    margin-bottom: 10px;

}

.ty{
    background-color: #191919;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:'freight-sans';
    font-size:20px;
	font-weight: bold;
}

hr{
  border-color: var(--blue);
}

.card p{
  font-size: 11pt;
  font-family: 'freight-sans';

}

.right-col > .card p{
  font-weight: bold;
}
