#print-content{
  margin: 0px 40px 40px 40px;
  height: calc(100% - 40px);
}

.posterCard{
    margin:20px;
    height: 67%;
    width: 30%;
    display: flex;
    flex-direction: column;
    color:white;
    text-decoration: none;

}
.poster{
    background-image:url('../resources/print1.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    width:100%;
    height:100%;
}

.posterTitle{
    background-color: #191919;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top:2px solid #111;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:'freight-sans';
    font-size:20px;
	font-weight: bold;
}
